@import settings
@import bootstrap

body
	margin-top: 90px

.eg-navbar
	@extend .navbar
	@extend .navbar-default
	@extend .navbar-fixed-top
	text-transform: uppercase
	a,.dropdown
		font-size: 20px
	.navbar-brand
		font-size: 18px

.eg-container
	@extend .container
	width: 100%
