@import settings
@import navbars
@import bootstrap

// =SETTINGS
// colors
$blue: #5d8fae
$green: #5f6046
$brown: #60403e
$row-event-color: #eee
$font-size: 16px
$font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif

// =GENERAL
body,html
	height: 100%
	font-size: $font-size
	font-family: $font-family
	font-weight: 200
ul
	list-style: none	
	padding: 0

// =NAVBAR
%eg-navbar
	@extend .navbar
	border-radius: 0
	margin-bottom: 0
	a,.dropdown
		font-size: 0.9em
	.navbar-brand
		font-size: 1.2em

.eg-navbar-main
	@extend %eg-navbar
	@extend %eg-navbar-custom-style-main
	@extend %eg-navbar-custom-size-main
	
.eg-navbar-event
	@extend %eg-navbar
	@extend %eg-navbar-custom-style-main
	@extend %eg-navbar-custom-size-main
	
.eg-container,
.eg-container-event
	@extend .container

.eg-container-event
	padding-top: 10px

// =EMBERJS

// =EVENTS
.row-ev
	@extend .row
	padding: 10px
	border-top: 1px solid $row-event-color
	&:hover
		background-color: #eee

.col-pics
	@extend .col-xs-6
	@extend .col-sm-3
	@extend .col-md-3
	@extend .col-lg-3
.col-infos
	@extend .col-xs-15
	@extend .col-sm-19
	@extend .col-md-19
	@extend .col-lg-19
.col-view
	@extend .col-xs-3
	@extend .col-sm-2
	@extend .col-md-2
	@extend .col-lg-2
	margin-top: 20px

.info-title h3
	margin: 5px 0
	font-size: 1em

.ev-btn
	font-size: 1.2em
	color: #ccc

.ev-btn-view
	font-size: 3em
	color: #ccc
.ev-map-link
	font-size: 0.6em
	color: $blue
.img-ev
	@extend .img-rounded
	@extend .img-responsive

.img-host	
	@extend .img-circle