<nav class="eg-navbar-main" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">eG</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
			<ul class="nav navbar-nav">
				<li>{{#link-to 'main.index'}}<i class="fa fa-lg fa-home"></i> Home{{/link-to}}</li>                        
				<li>{{#link-to 'main.events'}}<i class="fa fa-lg fa-calendar"></i> Events{{/link-to}}</li>
				<li>{{#link-to 'me'}}<i class="fa fa-lg fa-user"></i> Me{{/link-to}}</li>
			</ul>
			{{#link-to 'auth.signup' class="btn btn-warning navbar-right navbar-btn"}}Sign up{{/link-to}}
			{{#link-to 'auth.login' class="btn btn-success navbar-right navbar-btn"}}Login{{/link-to}}
		</div>
	</div>
</nav>
{{outlet}}